{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Subtopics we plan on teaching</mark>?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Setting up machines with Conda Scripts</li>
                            <li>Setting up GitHub Pages with FastPages features</li>
                            <li>Building requirements and pull requests in GitHub</li>
                            <li>Fetching and filtering content using JavaScript, HTML, CSS</li>
                            <li>Developing Backend 3rd Party APIs with analysis and cleaning Python, Flask, Pandas
                            </li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/flask.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Lesson Plans
                    </h5>
                    <p class="card-text">
                        <ol>
                            <li>For #1-3, we will make videos on the subjects that will teach how to set up each subject, since they are mostly installations and tool setups
                            </li>
                            <li>For #4, we will make a page where the user can use various buttons to customize size, color, font, and other properties and attributes of a sample page.</li>
                            <li>For #5, we will make a page where the user can use various buttons to customize the choice of API, where each API will have different CRUD operations.
                            </li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pythondb.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Grading/Checking Work</h5>
                    <p class="card-text">
                        <ol>
                            <li>After the code for each activity on the website is shown, there will be a link to a Slack server where users can join, post, and talk about their beginner creations with web development.
                            </li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}